.DS_Store

# dependencies
/node_modules/

# build output
/build/
/dist/
/.vercel/

# React Router
/.react-router/

# env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# misc
*.log
.cache

# vite temp
vite.config.ts.timestamp-*.mjs
vite.config.js.timestamp-*.mjs
