services:
  - type: web
    name: web-studio
    runtime: node
    rootDir: apps/web
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: NODE_ENV
        value: production
